# Dependencies
node_modules/
package-lock.json
dist/
.vercel/

# Environment and sensitive keys
.env
.env.local
serviceAccountKey.json
*.pem

# Python
__pycache__/
*.pyc
venv/
.venv/

# OS and Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
